<div class="grid" style="margin-top: 20px">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 45px">Number installment</th>
                    <th>Monthly interest</th>
                    <th>Monthly total payment</th>
                    <th>Paid capital</th>
                    <th>Paid interest</th>
                    <th>Capital to repayment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let installmentData of installmentDataVM">
                    <td>{{ installmentData.Id | number }}</td>
                    <td>{{ installmentData.AmountOfInterest | number: '1.2-2' }}</td>
                    <td>{{ installmentData.AmountOfCapitalAndInterest | number: '1.2-2' }}</td>
                    <td>{{ installmentData.AmountOfCapitalPaid | number: '1.2-2' }}</td>
                    <td>{{ installmentData.AmountOfInterestPaid | number: '1.2-2' }}</td>
                    <td>{{ installmentData.AmountofPrincipalOutstanding | number: '1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>