<div class="waitBox" [hidden]="!isLoading"></div>
<div class="alert alert-danger" role="alert" *ngIf="isServerError">
  {{ errorMessage }}
</div>

<div class="container-fluid">
  <div class="grid">
    <div class="controller-container">
      <div style="max-width: 350px;">
        <ul ngbNav #navDetails="ngbNav" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Loan Details</a>
            <ng-template ngbNavContent>
              <p style="margin-top: 2rem;">Please enter your details to estimate your monthly payment.</p>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <label for="LoanCalculatorComponent_HomePrice">Home price</label>
                  <div class="input-group mb-3">
                    <input id="LoanCalculatorComponent_HomePriceInput" type="number"
                      class="form-control form-control-sm" [(ngModel)]="dataToCalculation.TotalValueOfLoan"
                      (ngModelChange)="valueOfLoanChanged($event)" min="0" max="10000000" [required]="true" />
                    <div class="input-group-append">
                      <span class="input-group-text">PLN</span>
                    </div>
                  </div>
                  <div class="input-range-wrapper">
                    <div class="slider-container">
                      <input id="LoanCalculatorComponent_HomePriceRange" type="range" class="form-range" step="1"
                        min="0" max="10000000" [(ngModel)]="dataToCalculation.TotalValueOfLoan" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <label for="LoanCalculatorComponent_NumberOfAnnualInstallments">Number of annual installments</label>
                  <div class="input-group mb-3">
                    <input id="LoanCalculatorComponent_NumberOfAnnualInstallmentsInput" type="number"
                      class="form-control form-control-sm"
                      [(ngModel)]="dataToCalculation.NumberOfAnnualInstallments"
                      (ngModelChange)="numberOfAnnualInstallmentsChanged($event)" min="0" max="35" [required]="true" />
                    <div class="input-group-append">
                      <span class="input-group-text">years</span>
                    </div>
                  </div>
                  <div class="input-range-wrapper">
                    <div class="slider-container">
                      <input id="LoanCalculatorComponent_NumberOfAnnualInstallmentsRange" type="range"
                        class="form-range" step="1" min="0" max="35"
                        [(ngModel)]="dataToCalculation.NumberOfAnnualInstallments" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <label for="LoanCalculatorComponent_AnnualInterestInstallments">Annual interest installments</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-sm" aria-label=""
                      [(ngModel)]="dataToCalculation.AnnualInterestInstallments" [disabled]="true" />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <button type="button" class="btn btn-primary" id="LoanCalculatorComponent_CalculateButton"
                    style="min-width: 100px" *ngIf="isneccesaryDataCompleted()" (click)="calculatePayments()">
                    Calculate
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navDetails" class="mt-2"></div>
      </div>
    </div>


    <div class="controller-container">
      <div style="min-width: 700px;">
        <ul ngbNav #navSummary="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Monthly Payment Summary</a>
            <ng-template ngbNavContent>
              <h5 style="margin-top: 2rem; text-align: center;">Monthly payment summary</h5>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary" (click)="showMonthlyChart()">Overview</button>
                <button type="button" class="btn btn-outline-primary" (click)="showMonthlyDetails()">Details</button>
              </div>


              <!-- TODO move to control -->
              <div *ngIf="isEnabledMonthlyPaymentSummary" id="LoanCalculatorComponent_MonthlyPaymentSummary">
                <table class="table" style="border-collapse:separate; border-spacing: 0 1em">
                  <tbody>
                    <tr style="padding: 5px; cursor: pointer;" *ngFor="let summary of monthlyPaymentSummaryVM">
                      <td><button type="button" [ngStyle]="{'background-color': (summary.ColorLegend)}"
                          class="btn btn-success btn-circle btn-sm"></button></td>
                      <td style="text-align: left;">{{summary.InstallmentComponent}}</td>
                      <td style="text-align: right;">{{summary.AmountOfPaymentVM.Amount}}</td>
                      <td style="text-align: left;">{{summary.AmountOfPaymentVM.CurrencyCode}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div *ngIf="isEnabledMonthlyPaymentChart" id="LoanCalculatorComponent_MonthlyPaymentChart">
                <doughnut-chart [doughnutChartLabels]="monthlyPaymentsChartLabels"
                  [doughnutChartData]="monthlyPaymentsChartData" [doughnutChartColors]="monthlyPaymentsChartColors">
                </doughnut-chart>
              </div>

            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Total Payment Summary</a>
            <ng-template ngbNavContent>
              <h5 style="margin-top: 2rem; text-align: center;">Total payment summary</h5>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary" (click)="showTotalChart()">Overview</button>
                <button type="button" class="btn btn-outline-primary" (click)="showTotalDetails()">Details</button>
              </div>

              <!-- TODO move to control --> 
              <div *ngIf="isEnabledTotalPaymentSummary" id="LoanCalculatorComponent_TotalPaymentSummary">
                <table class="table" style="border-collapse:separate; border-spacing: 0 1em">
                  <tbody>
                    <tr style="padding: 5px; cursor: pointer;" *ngFor="let summary of totalPaymentSummaryVM">
                      <td><button type="button" [ngStyle]="{'background-color': (summary.ColorLegend)}"
                          class="btn btn-success btn-circle btn-sm"></button></td>
                      <td style="text-align: left;">{{summary.InstallmentComponent}}</td>
                      <td style="text-align: right;">{{summary.AmountOfPaymentVM.Amount}}</td>
                      <td style="text-align: left;">{{summary.AmountOfPaymentVM.CurrencyCode}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div *ngIf="isEnabledTotalPaymentChart" id="LoanCalculatorComponent_TotalPaymentChart">
                <line-chart [lineChartLabels]="totalPaymentsChartLabels"
                  [lineChartdata]="totalPaymentsChartData" [lineChartColors]="totalPaymentsChartColors">
                </line-chart> 
              </div>

            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>List of all installments</a>
            <ng-template ngbNavContent>

              <!-- TODO move to control -->
              <div class="grid" style="margin-top: 20px" *ngIf="isLoanPaymentsMonthlySummary">
                <div class="table-responsive">
                  <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th style="width: 45px">Number installment</th>
                        <th>Monthly interest</th>
                        <th>Monthly total payment</th>
                        <th>Repaid capital</th>
                        <th>Capital to repayment</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let monthlyInstallmentData of loanPaymentSummary.MonthlyInstallmentData">
                        <td>{{ monthlyInstallmentData.Id | number }}</td>
                        <td>{{ monthlyInstallmentData.AmountOfInterest | number: '1.2-2' }}</td>
                        <td>{{ monthlyInstallmentData.AmountOfCapitalAndInterest | number: '1.2-2' }}</td>
                        <td>{{ monthlyInstallmentData.AmountOfCapitalRepaid | number: '1.2-2' }}</td>
                        <td>{{ monthlyInstallmentData.AmountofPrincipalOutstanding | number: '1.2-2' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navSummary" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>