<div class="waitBox" [hidden]="!isLoanCalculatorDataLoading"></div>
<div class="alert alert-danger" role="alert" *ngIf="isServerError">
  {{ errorMessage }}
</div>

<div class="container-fluid">
  <div class="grid">
    <div class="controller-container">
      <div style="max-width: 300px;">
        <ul ngbNav #navDetails="ngbNav" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Loan Details</a>
            <ng-template ngbNavContent>
              <p style="margin-top: 2rem;">Please enter your details to estimate your monthly payment.</p>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <label for="LoanCalculatorComponent_HomePrice">Home price</label>
                  <div class="input-group mb-3">
                    <input id="LoanCalculatorComponent_HomePriceInput" type="number"
                      class="form-control form-control-sm" [(ngModel)]="dataToCalculation.TotalValueOfLoan"
                      (ngModelChange)="valueOfLoanChanged($event)" min="0" max="10000000" [required]="true" />
                    <div class="input-group-append">
                      <span class="input-group-text">PLN</span>
                    </div>
                  </div>
                  <div class="input-range-wrapper">
                    <div class="slider-container">
                      <input id="LoanCalculatorComponent_HomePriceRange" type="range" class="form-range" step="1"
                        min="0" max="10000000" [(ngModel)]="dataToCalculation.TotalValueOfLoan" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <label for="LoanCalculatorComponent_NumberOfAnnualInstallments">Number of annual installments</label>
                  <div class="input-group mb-3">
                    <input id="LoanCalculatorComponent_NumberOfAnnualInstallmentsInput" type="number"
                      class="form-control form-control-sm" [(ngModel)]="dataToCalculation.NumberOfAnnualInstallments"
                      (ngModelChange)="numberOfAnnualInstallmentsChanged($event)" min="0" max="35" [required]="true" />
                    <div class="input-group-append">
                      <span class="input-group-text">years</span>
                    </div>
                  </div>
                  <div class="input-range-wrapper">
                    <div class="slider-container">
                      <input id="LoanCalculatorComponent_NumberOfAnnualInstallmentsRange" type="range"
                        class="form-range" step="1" min="0" max="35"
                        [(ngModel)]="dataToCalculation.NumberOfAnnualInstallments" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <label for="LoanCalculatorComponent_AnnualInterestInstallments">Annual interest installments</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-sm" aria-label=""
                      [(ngModel)]="dataToCalculation.AnnualInterestInstallments" [disabled]="true" />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 form-group form">
                  <button type="button" class="btn btn-primary" id="LoanCalculatorComponent_CalculateButton"
                    style="min-width: 100px" *ngIf="isneccesaryDataCompleted()" (click)="calculatePayments()">
                    Calculate
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navDetails" class="mt-2"></div>
      </div>
    </div>


    <div class="controller-container">
      <div style="min-width: 700px;">
        <ul ngbNav #navSummary="ngbNav" class="nav-tabs justify-content-center">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Monthly Payment Summary</a>
            <ng-template ngbNavContent>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary" (click)="showMonthlyChart()">Overview</button>
                <button type="button" class="btn btn-outline-primary" (click)="showMonthlyDetails()">Details</button>
              </div>
              <calculation-summary *ngIf="isEnabledMonthlyPaymentSummary"
                id="LoanCalculatorComponent_MonthlyPaymentSummary" [paymentSummaryVM]="monthlyPaymentSummaryVM">
              </calculation-summary>
              <doughnut-chart *ngIf="isEnabledMonthlyPaymentChart" id="LoanCalculatorComponent_MonthlyPaymentChart"
                [doughnutChartLabels]="monthlyPaymentsChartDataVM.Labels" [doughnutChartData]="monthlyPaymentsChartDataVM.Data"
                [doughnutChartColors]="monthlyPaymentsChartDataVM.Colors">
              </doughnut-chart>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Total Payment Summary</a>
            <ng-template ngbNavContent>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary" (click)="showTotalChart()">Overview</button>
                <button type="button" class="btn btn-outline-primary" (click)="showTotalDetails()">Details</button>
              </div>
              <calculation-summary *ngIf="isEnabledTotalPaymentSummary" id="LoanCalculatorComponent_TotalPaymentSummary"
                [paymentSummaryVM]="totalPaymentSummaryVM">
              </calculation-summary>
              <div *ngIf="isEnabledTotalPaymentChart" id="LoanCalculatorComponent_TotalPaymentChart">
                <line-chart [lineChartLabels]="totalPaymentsChartDataVM.Labels" [lineChartdata]="totalPaymentsChartDataVM.Data">
                </line-chart>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>List of all installments</a>
            <ng-template ngbNavContent>
              <list-of-intallments *ngIf="isListOfAllInstallmentsGenerated" id="LoanCalculatorComponent_ListOfInstallments"
                [installmentDataVM]="loanPaymentSummary.MonthlyInstallmentData">
              </list-of-intallments>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navSummary" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>