<div>
  <h1>How to calculate payments:</h1>
  <p>The following are necessary to calculate the loan:</p>
  <ul>
    <li>amount of loan,</li>
    <li>number of installments</li>
  </ul>
  <p>Use our Loan Calculator to estimate your laon payment. You can input a different amount of land (e.g.: home price,
    car price), to see how your payment changes.</p>

  <div style="text-align:left;">
    <h2>House loan calculator:</h2>
    <div style="display: flex;">
      <p>Loan calculator gives you a monthly payment estimate after you input the home price, the interest rate and
        length of the loan term. Use the calculator to price different scenarios.
        You might discover you need to adjust your down payment to keep your monthly payments affordable. If you want to
        pay off a loan before the loan term is over, you can use the calculator to figure out
        how much more you must pay each month to achieve your goal.
      </p>
    </div>
  </div>
</div>